.user-card {
    display: flex;
    align-items: center;
    flex: 1 1 calc(30% - 20px); /* Ajusta el ancho de la tarjeta para que ocupe un cuarto del contenedor menos el espacio del gap */
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 253, 253, 0.1);
    background-color: #7a6b6b;
    transition: transform 0.2s;
    background-color: #234569;
    text-align: center;
  }
  
  .user-card:hover {
    transform: scale(1.02);
  }
  
  .user-card h3 {
    margin: 0 0 10px;
  }
  
  .user-card button {
    padding: 2px 2px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .user-card button:hover {
    background-color: #0056b3;
  }
  