/* src/Components/Navbar/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -10px 20px;
    background-color: #333;
    color: #000000;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1000;
    left: 0px;  
    right: 0px; 
    bottom: 600px ;
  }
  
  
  .navbar-section {
    display: flex;
    align-items: center;
    
  }
  
  .navbar-title {
    margin-right: 100px; /* Espacio entre el título y el buscador */
    font-size: 4rem;
    
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .search-input {
    padding: 8px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    margin-right: 20px; 
    text-align: left;
    flex-grow: 2;
    max-width: 600px; 
  }
  
  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
  
  .search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #c0392b;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre los enlaces */
    margin: 0;
    padding: 60px;
 
  }
  
  .navbar-links li {
    margin: 0;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links li a:hover {
    text-decoration: underline;
  }
  